body {
    height: 100%;
  }
  
  /* footer {
    position: absolute;
  } */

.confirmation {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    /* margin-bottom: 150px; */
    min-height: calc(100vh - 300px);
    height: 750px;
    /* position: relative; */
}

#confirmation {
    text-align: center;
    margin: auto;
}

.recapCommande {
    margin-top: 35px;
}

table {
    margin: 15px auto;
}

h3, h5 {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

h5 {
    margin-top: 28px;
}

p {
    margin: 4px;
}

p, table {
    font-size: 1.2rem;
}
  