.confirmation {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
}

.img_produit {
    max-height: 250px;
    height: auto;
    width: 80%;
    margin: 16px auto;
    border-radius: 4px;
  }



  