/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive!important;
    background-image: url('../img/photo-1497942304796-b8bc2cc898f3.jpg');
}

h6 {
    color: black;
}


/* Header / footer */

.navbar, .page-footer {
    background: #696461!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
}

.navbar {
    height: 100px!important;
}
  
a {
    color: #EEFFDB!important;
    text-decoration: none!important;
}
a:hover {
    color: #000!important;
  }

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    color: #333;
}

/* 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
        INDEX 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
*/

/* Carousel */

.carousel {
    display: flex;
    justify-content: center;
  }

  .slide {
    margin-bottom: 55px;
    border: 2px black solid;
    width: 555px;
    height: 346px;
  }
  

/* Carte caméras */

.card-text {
    font-size: 1.1rem;
  }

.card-title {
    font-size: 1.3rem;
    margin: auto;
    padding: 10px;
}

.imgID {
    height: 180px;
    width: 150px;
}

/* 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
    PAGE PRODUIT 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
*/

/* 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
        PANIER 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
*/