/* 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
        INDEX 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
*/

/* Carousel */

.carousel {
    display: flex;
    justify-content: center;
  }

  .slide {
    margin-bottom: 55px;
    border: 2px black solid;
    width: 555px;
    height: 346px;
  }
  

/* Carte caméras */

.card-text {
    font-size: 1.1rem;
  }

.card-title {
    font-size: 1.3rem;
    margin: auto;
    padding: 10px;
}

.imgID {
    height: 180px;
    width: 150px;
}

/* 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
    PAGE PRODUIT 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
*/

/* 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
        PANIER 
///////////////////////
///////////////////////
///////////////////////
///////////////////////
*/