body {
    background-color: #d4cbc6;    
    }
    .navbar, .page-footer {
      background: #696461!important;
    }
  
  .navbar {
    height: 100px!important;
  }
  
    a {
      color: #EEFFDB!important;
      text-decoration: none!important;
  }
  a:hover {
    color: #000000!important;
  }
  /* 
  img {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
  } */
  
  .slide {
    margin-bottom: 55px;
    border: 2px black solid;
    width: 1110px;
    height: 693px;
  }
  
  
  .img_produit {
      width: 580px;
      height: 580px;
      /* Non indispensable */
      margin-bottom: 50px;
  }
  .line {
      height: 3px;
      background-color: rgb(255, 123, 0);
  }
  
  .main-content {
      margin-top: 55px;
      display: flex;
      justify-content: space-around;
  }
  
  .title h1, .price, .description {
      font-family: 'Anton', sans-serif;
     
  }
  
  .description p {
      font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  }
  
  .title h1{
      font-size: 2.8rem;
      margin: 12px 15px 25px 45px;
  }
  .price {
      text-align: center;
      margin: 25px auto;
  }
  
  form {
      display: flex;
      flex-wrap: wrap;
  }
  
  form h4 {
      font-size: 1rem;
  }
  
  .add_cart_btn {
      padding: 15px 90px;
      background-color: #fff;
      border: 3px solid black;
      border-radius: 3px;
      margin: 15px ;
      font-family: "Grenze Gotisch", sans-serif;
      font-size: 1.5rem;
  }
  
  .add_cart_btn:hover {
      background-color: black;
      color: white;
      border: 4px double white;
  }
  
  .select_lentille, .select_qty {
      margin: 15px;
  }
  
  .btn_center {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
  }
  .card {
    width: 750px;
    display: flex;
    flex-direction: row!important;
    border-radius: 15px;
  }
  .roo {
    /* display: flex; */
    font-size: 1rem;
  }
  
  label {
    margin: 15px;
  }
  input{
    
  }
  
  option {
    
  }
  
  #select {
    margin-left: 55px;
  }
  
  .section-header {
      font-family: "Metal Mania";
      font-weight: normal;
      color: #333;
      text-align: center;
      font-size: 2.5em;
  }
  .cart-header {
      font-weight: bold;
      font-size: 1.3rem;
      color: #0a0202;
      
  }
  
  .cart-column {
      display: flex;
      align-items: center;
      margin-right: 1.5em;
      padding-bottom: 10px;
      margin-top: 10px;
  }
  
  .cart-row {
      display: flex;
      border-bottom: 2px solid black;
  }
  
  .cart-item {
      width: 20%;
  }
  .card-text {
    /* width: 15%;
    margin-top: 15px;
    font-size: 1.1rem;
    margin-left: 22px; */
    margin-bottom: 20px;
  }
  
  .cart-price {
      width: 20%;
      font-size: 1.2em;
      color: #333;
  }
  
  .cart-quantity {
      width: 85%;
      /* padding-left: 55px; */
      /* display: flex; */
      /* justify-content: space-between; */
  }
  
  
  .cart-item-title {
      color: #000;
      margin-left: .5em;
      font-size: 1.2em;
  }
  
  .cart-item-image {
      width: 75px;
      height: auto;
      border-radius: 5px;
  }
  
  .btn-danger {
      color: #f3efef;
      background-color: #e91111;
      border: none;
      border-radius: .3em;
      font-weight: bold;
  }
  
  .btn-danger:hover {
      background-color: #910707;
  }
  
  .cart-quantity-input {
      height: 34px;
      width: 50px;
      border-radius: 5px;
      border: 1px solid #d1641c;
      background-color: #eee;
      color: #333;
      padding: 0;
      text-align: center;
      font-size: 1.2em;
      margin-right: 25px;
      margin-left: 5px;
  }
  
  .cart-row:last-child {
      border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
      border: none;
  }
  
  .cart-total {
      text-align: end;
      margin-top: 10px;
      margin-right: 10px;
  }
  
  .cart-total-title {
      font-weight: bold;
      font-size: 1.5em;
      color: black;
      margin-right: 20px;
  }
  
  .cart-total-price {
      color: #333;
      font-size: 1.1em;
  }
  
  .btn-purchase {
      display: block;
      margin: 40px auto 80px auto;
      font-size: 1.75em;
  }
  
  
  /* test */
  
  .card-img-top {
    height: 250px;
    width: 280px;
    border-radius: 15px;
  }
  .card-title {
    font-size: 1.8rem;
    margin: 12px;
  }
  .card-body {
    
  }
  
  .details {
    padding: 0.5rem 2rem;
    text-align: justify;
  }
  span {
    margin: 0;
  }
  .stock {
    font-style: italic;
    color: #15ad10;
  }
  .btn-outline-danger {
    color: #e70a0a;
    border-color: #e20707;
  }
  .btn-outline-danger:hover {
    color: #fafafa;
    background: #e20707;
  }
  
  .details--cart {
    margin-bottom: 4px;
  }
  
  p {
    /* margin: 0; */
  }
  
  #btn-commande {
    background-color: #f07715;
    color: #000;
    border: 2px solid  #e46d19;
    border-radius: 5px;
    padding: 8px;
  }
  #btn-commande:hover {
    background-color: #d36c0c;
    border-color: #f1be17;
  }
  
  .imgOnly {
    margin: auto;
    margin-left: 25px;
  }