/* Panier */

table {
  border-collapse: collapse;
}

.recap {
    height: 1900px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
  }
  
   .recap--commande {
    background-color: #C4C4C4;
    width: 95%;
    max-width: 1350px;
    text-align: center;
    margin: 35px auto;
  }
  .recap--commande td, .recap--commande th {
    border-bottom: 2px solid #000;
    padding: 10px 0;
    width: 17%;
  }

  /* .recap--commande tbody td {
    font-size: 1rem;
  } */
  .recap--commande tr:nth-child(even) {
    background: #ece6e6;
  }
  .recap--commande thead {
    background: -moz-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: -webkit-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: linear-gradient(to bottom, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    font-size: 17px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
  }
  

.info{
  font-size: 1.3rem;
}















  /* Formulaire */

fieldset {
    /* padding-top: 65px; */
    height: 180px;
    border: 2px solid black;
    max-width: 1350px;
}

legend {
    text-align: left;
    margin-left: 15px;
}

p {
    font-size: 0.7rem;
}

.recap--form {
    background-color: #ebe5e5;
    width: 95%;
    text-align: center;
    margin: auto;
  }

label{
    cursor: pointer;
    padding: 5px;
}

input {
    width: 90px;
}

#mail, #adresse {
    width: 135px;
}

button {
    font-family: 'Lobster', cursive;
    margin-top: 17px;
    padding: 10px;
    background: #ebe5e5;
    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
}

button:hover {
    background: -moz-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: -webkit-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: linear-gradient(to bottom, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
}





























#total {
  padding: 25px 15px;
}





#totalCameras {
  font-size: 1.2rem;
}




.recap--total {

}

#deleteForm {
  margin-top: 0;
  margin-bottom: 25px;
}





.img_produit {
  max-height: 250px;
  height: auto;
  width: 80%;
  margin: 16px auto;
  border-radius: 4px;
}

.emptyCart {
}


#panierContent {
  font-size: 1.2rem;
}



















form {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin: auto;
}

form input {
  margin-right: 28px;
  margin-bottom: 16px;
}

/* mise en forme du form */

#prenom {

}