body {
  height: 100%;
}



/* Panier */

table {
  border-collapse: collapse;
}

.recap {
    height: fit-content;
    min-height: calc(100vh - 300px);
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: auto;
    margin-bottom: 35px;
  }
  
  .recap--titre {
    background: -moz-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: -webkit-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: linear-gradient(to bottom, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    color: #fff;
    width: 95%;
    max-width: 1350px;
    text-align: center;
    margin: 0;
    padding: 8px;
    font-size: 1.3rem;
  }

   .recap--commande {
    background-color: #C4C4C4;
    width: 95%;
    max-width: 1350px;
    text-align: center;
    margin: 0 auto 35px auto;
  }
  .recap--commande td, .recap--commande th {
    border-bottom: 2px solid #000;
    padding: 10px 0;
    width: 17%;
  }

  .recap--commande tr:nth-child(even) {
    background: #ece6e6;
  }
  .recap--commande thead {
    background: -moz-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: -webkit-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: linear-gradient(to bottom, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
  }
  

.info{
  font-size: 1.3rem;
}



#totalCameras {
  font-size: 1.2rem;
}



  /* Formulaire */

fieldset {
    /* padding-top: 65px; */
    height: auto;
    max-height: 800px;
    border: 2px solid black;
    max-width: 1350px;
}

legend {
    text-align: left;
    margin-left: 15px;
}

small {
    font-size: 0.8rem;
}

.recap--form {
    background-color: #ebe5e5;
    width: 95%;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
  }

label{
    cursor: pointer;
    padding: 5px;
}

input {
    width: 90px;
}

#email, #adresse {
    width: 135px;
}

button, #button_1 {
    font-family: 'Lobster', cursive;
    margin-top: 17px;
    padding: 10px;
    background: #ebe5e5;
    color: #000;
    border: 2px solid #000;
    border-radius: 4px;
}

button:hover, #button_1:hover {
    background: -moz-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: -webkit-linear-gradient(top, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    background: linear-gradient(to bottom, #ff5100 0%, #b81712 66%, #DE2C0E 100%);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#total {
  padding: 25px 15px;
}

#deleteForm {
  margin-top: 0;
  margin-bottom: 25px;
}

.img_produit {
  max-height: 250px;
  height: auto;
  width: 80%;
  margin: 16px auto;
  border-radius: 4px;
}

#panierContent {
  font-size: 1.2rem;
}


form {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin: auto;
}

form input {
  margin-right: 28px;
  margin-bottom: 16px;
}

#recapTotal {
  display: flex;
  margin-bottom: 8px;
}
#totalCamerasPrix {
  font-size: 1.2rem;
  padding-left: 3px;
}

/*/////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////
       Mobile
//////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////
*/
@media screen and (min-width: 320px) and (max-width: 426px) {

/* Panier */

.recap {
    width: 100%;
  }
  
   .recap--commande, .recap--titre {
    width: 100%;
  }
  .recap--commande td, .recap--commande th {
    padding: 8px;
  }

  .info {
    font-size: 1rem;
  }

  .recap--commande td{
    font-size: 0.7rem;
  }

  .img_produit {
    display: none;
  }

}


  

/*
//////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////
 Desktop 4k
 //////////////////////////////
 //////////////////////////////
 //////////////////////////////
 //////////////////////////////
*/
@media screen and (min-width: 1440px) {

  .recap {
    width: 70%;
  }

  .recap--titre {
    width: 95%;
  }

  /* Formulaire */

button, #button_1 {
    margin-top: 45px;
}

form {
  font-size: 1.2rem;
}

  }