/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #eee;
}

p {
    margin-bottom: 0.8rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

strong {
    color: #e40d17;
    font-weight: 700;
}

em {
    color: #555;
}

/* CLASS */

.container {
    /* max-width: 1200px; */
    display: block;
    margin: auto;
}

.title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.bg-dark {
    background: #333;
    color: white;
}

/* vp + header */

.vp-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}



.vp-logo {
    font-size: 1.8rem;
    margin-bottom: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.vp-logo i {
    color: #f1c40f;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.vp-logo a {
    font-size: 2rem;
    font-weight: 300;
}

header ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
}

header ul li a:hover {
    color: #580ce7;

}

header a {
    color: #261624;
    font-weight: bold;
}

.vp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
    background: url("./img/cam_3.png") center center/cover;
}

.vp-content {
    max-width: 800px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.vp-content h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.vp-content p {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 2rem;
    color: white;
    margin-bottom: 25px;
}

.button__cameras {
    color: #281826;
    font-weight: 600;
    font-size: 1.4rem;
    background: #f2e8f0;
    border-radius: 15px;
    padding: 15px;
    margin-top: 25px;
}

/* OFFER */

.offer {
    padding: 10rem 1rem;
    background: #f2e8f0;
}

.offer-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.offer-elem {
    border: 1px solid #ddd;
    background-color: white;
    margin: 1rem;
    flex: 1;
}

.offer-elem-img {
    width: 100%;
}






body {
    margin: 0;
    padding: 0;
    height: 1500px;
}


header {
    height: 160px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    background: #f2e8f0;
    align-items: center;
}

header ul li {
    padding: 0.5rem 3.5rem;
}

.logo {
    height: 110px;
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.banniere  {
height: 100h;
position: relative;
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 10vw;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.contenu {
    /* grow shrink basis */
    flex: 1 0 auto;
}
.contenu p {
    padding: 5vw 10vw;
    text-align: justify;
}

footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}
.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

/* contact */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

/* Services */


.liste-services,
.liste-horaires,
.liste-media {
    list-style-type: none;
}
.liste-services li {
    padding: 2px 0;
}
.liste-services a {
    text-decoration: none;
    color: #333;
}
.liste-services a:hover {
    color: rgb(3,3,3);
}


/* Medias */

.liste-media {
    position: relative;
    right: 10px;
}
.liste-media img {
    width: 40px;
    margin: 10px 10px;
}
.liste-media a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}


/* Media queries */

@media screen and (max-width: 1300px) {

    .contenu-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .bloc {
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 800px) {
    .contenu-footer {
        width: 320px;
    }
    .bloc {
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
    .bloc:nth-child(1) {
        margin-top: 0;
    }
}



.bg-banniere{
    background:url('./img/img_cam_3.jpg') center;
    
}

.container_3 {
    height: 700px;
    background: rgba(0, 0, 0, 0.2);
}

.h {
    font-size: 2.6rem;
    color: #e58a0a;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    text-align: center;
}